<div id='scroll-content' class='container' style='background-color: #f6f6ef'>
  <% @feeds.each do |feed| %>
    <div>
      <%= render partial: '/shared/feed', locals: {feed: feed} %>
    </div>
  <% end %>
</div>