<div id='scroll-content' class='container'>
  <h1>Hacker News</h1>

  <% @feeds.each do |feed| %>
    <div>
      <%= render partial: '/shared/feed', locals: {feed: feed} %>
    </div>
  <% end %>
</div>