<!DOCTYPE html>
<html>
<head>
  <title>Newsfeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container' style='background-color: #FE6501'>
  <h1>Hacker News</h1>
</div>
<%= yield %>

</body>
</html>
